<h1>Contacts</h1>


<table class="table table-striped">
    <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let buyer of buyers">
        <td class="align-middle">
            <a [routerLink]="['/buyers', buyer.id]">
                {{ buyer.firstName }} {{ buyer.lastName }}
            </a>
        </td>
        <td class="align-middle">{{ buyer.email}}</td>
        <td><button class="btn btn-danger btn-sm" (click)="remove(buyer)">Remove</button></td>
    </tr>
</table>


    <div class="input-group col-md-5 pl-0 my-lg-4 my-2">
        <span class="input-group-addon">First name</span>
        <input [(ngModel)]= "firstname" type="text" class="form-control" />
    </div>
    <div class="input-group col-md-5 pl-0 my-lg-4 my-2">
        <span class="input-group-addon">Last name</span>
        <input [(ngModel)]= "lastname" type="text" class="form-control" />
    </div>
    <div class="input-group col-md-5 pl-0 my-lg-4 my-2">
        <span class="input-group-addon">Email</span>
        <input [(ngModel)]= "email" type="text" class="form-control" />
    </div>
    <div class="input-group col-md pl-0 my-lg-4 my-2">
        <button type="button" class="btn btn-primary" (click)="addBuyer()">Add Buyer</button>
    </div>

<!--
<div class="input-group col-md pl-0 my-lg-4 my-2">
    <button type="button" class="btn btn-primary" (click)="addContact()">Add Contact</button>
</div> -->
<router-outlet></router-outlet>
<!--| filter : 'firstName' : filter-->




